<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>Wheres The SSH</title>

    <style type="text/css">
	body { background-color: #30303d; color: #fff; }
	#chartdiv {
 	 width: 100%;
  	 height: 500px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Courier New;
    font-size: 1em;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}
.submit{
    background-color: black; /* Green */
    border: 2px solid white;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Courier New;
    font-size: 1em;
}
.submit:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
}

    </style>
</head>
<body>
<p id="DATE">Welcome to Where's the SSH: Specify Dates for Visualization</p>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/ammap_amcharts_extension.js"></script>
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/continentsLow.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/usa2Low.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
<script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
<div id="chartdiv"></div>
<script type="text/javascript">
var mylogs = 0; // log holder
var map = 0; // map holder
document.getElementById("chartdiv").innerHTML = ""; // zeroes out map
drawpie(); // draws intial map
function drawpie(){
map = AmCharts.makeChart( "chartdiv", {
  "type": "map",
  "theme": "dark",
  "colorSteps": 50, //set intial map settings

  "dataProvider": {
    "map": "usa2Low", //specify usa map
    "areasSettings": {
    "autoZoom": true  //add zoom functionality
  },
  "areas": [ { // intializa states and set heat
      "id": "US-AL",
      "value": 0
    }, {
      "id": "US-AK",
      "value": 0
    }, {
      "id": "US-AZ",
      "value": 0
    }, {
      "id": "US-AR",
      "value": 0
    }, {
      "id": "US-CA",
      "value": 0
    }, {
      "id": "US-CO",
      "value": 0
    }, {
      "id": "US-CT",
      "value": 0
    }, {
      "id": "US-DE",
      "value": 0
    }, {
      "id": "US-FL",
      "value": 0
    }, {
      "id": "US-GA",
      "value": 0
    }, {
      "id": "US-HI",
      "value": 1
    }, {
      "id": "US-ID",
      "value": 0
    }, {
      "id": "US-IL",
      "value": 0
    }, {
      "id": "US-IN",
      "value": 0
    }, {
      "id": "US-IA",
      "value": 0
    }, {
      "id": "US-KS",
      "value": 0
    }, {
      "id": "US-KY",
      "value": 0
    }, {
      "id": "US-LA",
      "value": 0
    }, {
      "id": "US-ME",
      "value": 0
    }, {
      "id": "US-MD",
      "value": 0
    }, {
      "id": "US-MA",
      "value": 0
    }, {
      "id": "US-MI",
      "value": 0
    }, {
      "id": "US-MN",
      "value": 0
    }, {
      "id": "US-MS",
      "value": 0
    }, {
      "id": "US-MO",
      "value": 0
    }, {
      "id": "US-MT",
      "value": 0
    }, {
      "id": "US-NE",
      "value": 0
    }, {
      "id": "US-NV",
      "value": 0
    }, {
      "id": "US-NH",
      "value": 0
    }, {
      "id": "US-NJ",
      "value": 0
    }, {
      "id": "US-NM",
      "value": 0
    }, {
      "id": "US-NY",
      "value": 0
    }, {
      "id": "US-NC",
      "value": 0
    }, {
      "id": "US-ND",
      "value": 0
    }, {
      "id": "US-OH",
      "value": 0
    }, {
      "id": "US-OK",
      "value": 0
    }, {
      "id": "US-OR",
      "value": 0
    }, {
      "id": "US-PA",
      "value": 0
    }, {
      "id": "US-RI",
      "value": 0
    }, {
      "id": "US-SC",
      "value": 0
    }, {
      "id": "US-SD",
      "value": 0
    }, {
      "id": "US-TN",
      "value": 0
    }, {
      "id": "US-TX",
      "value": 0
    }, {
      "id": "US-UT",
      "value": 0
    }, {
      "id": "US-VT",
      "value": 0
    }, {
      "id": "US-VA",
      "value": 0
    }, {
      "id": "US-WA",
      "value": 0
    }, {
      "id": "US-WV",
      "value": 0
    }, {
      "id": "US-WI",
      "value": 0
    }, {
      "id": "US-WY",
      "value": 0
    } ]
  },

  "valueLegend": { //create legend
    "right": 50,
    "minValue": "No Connections",
    "maxValue": "Most Connections"
  },

  "export": {
    "enabled": true // make map downloadable for presentation purposes
  }

} );}
function drawmappie(mypie){  //redraw map with heat map function based on logs
document.getElementById("chartdiv").innerHTML = "";
map = AmCharts.makeChart( "chartdiv", {
  "type": "map",
  "theme": "dark",
  "colorSteps": 50,

  "dataProvider": {
    "map": "usa2Low",
    "areasSettings": {
    "autoZoom": true
  },
  "areas": [ {
      "id": "US-AK", //set to logs heat map values
      "value": mypie['Heat']['AK']
    }, {
      "id": "US-AL",
      "value": mypie['Heat']['AL']
    }, {
      "id": "US-AR",
      "value": mypie['Heat']['AR']
    }, {
      "id": "US-AZ",
      "value": mypie['Heat']['AZ']
    }, {
      "id": "US-CA",
      "value": mypie['Heat']['CA']
    }, {
      "id": "US-CO",
      "value": mypie['Heat']['CO']
    }, {
      "id": "US-CT",
      "value": mypie['Heat']['CT']
    }, {
      "id": "US-DE",
      "value": mypie['Heat']['DE']
    }, {
      "id": "US-FL",
      "value": mypie['Heat']['FL']
    }, {
      "id": "US-GA",
      "value": mypie['Heat']['GA']
    }, {
      "id": "US-HI",
      "value": mypie['Heat']['HI']
    }, {
      "id": "US-IA",
      "value": mypie['Heat']['IA']
    }, {
      "id": "US-ID",
      "value": mypie['Heat']['ID']
    }, {
      "id": "US-IL",
      "value": mypie['Heat']['IL']
    }, {
      "id": "US-IN",
      "value": mypie['Heat']['IN']
    }, {
      "id": "US-KS",
      "value": mypie['Heat']['KS']
    }, {
      "id": "US-KY",
      "value": mypie['Heat']['KY']
    }, {
      "id": "US-LA",
      "value": mypie['Heat']['LA']
    }, {
      "id": "US-MA",
      "value": mypie['Heat']['MA']
    }, {
      "id": "US-MD",
      "value": mypie['Heat']['MD']
    }, {
      "id": "US-ME",
      "value": mypie['Heat']['ME']
    }, {
      "id": "US-MI",
      "value": mypie['Heat']['MI']
    }, {
      "id": "US-MN",
      "value": mypie['Heat']['MN']
    }, {
      "id": "US-MO",
      "value": mypie['Heat']['MO']
    }, {
      "id": "US-MS",
      "value": mypie['Heat']['MS']
    }, {
      "id": "US-MT",
      "value": mypie['Heat']['MT']
    }, {
      "id": "US-NC",
      "value": mypie['Heat']['NC']
    }, {
      "id": "US-ND",
      "value": mypie['Heat']['ND']
    }, {
      "id": "US-NE",
      "value": mypie['Heat']['NE']
    }, {
      "id": "US-NH",
      "value": mypie['Heat']['NH']
    }, {
      "id": "US-NJ",
      "value": mypie['Heat']['NJ']
    }, {
      "id": "US-NM",
      "value": mypie['Heat']['NM']
    }, {
      "id": "US-NV",
      "value": mypie['Heat']['NV']
    }, {
      "id": "US-NY",
      "value": mypie['Heat']['NY']
    }, {
      "id": "US-OH",
      "value": mypie['Heat']['OH']
    }, {
      "id": "US-OK",
      "value": mypie['Heat']['OK']
    }, {
      "id": "US-OR",
      "value": mypie['Heat']['OR']
    }, {
      "id": "US-PA",
      "value": mypie['Heat']['PA']
    }, {
      "id": "US-RI",
      "value": mypie['Heat']['RI']
    }, {
      "id": "US-SC",
      "value": mypie['Heat']['SC']
    }, {
      "id": "US-SD",
      "value": mypie['Heat']['SD']
    }, {
      "id": "US-TN",
      "value": mypie['Heat']['TN']
    }, {
      "id": "US-TX",
      "value": mypie['Heat']['TX']
    }, {
      "id": "US-UT",
      "value": mypie['Heat']['UT']
    }, {
      "id": "US-VA",
      "value": mypie['Heat']['VA']
    }, {
      "id": "US-VT",
      "value": mypie['Heat']['VT']
    }, {
      "id": "US-WA",
      "value": mypie['Heat']['WA']
    }, {
      "id": "US-WI",
      "value": mypie['Heat']['WI']
    }, {
      "id": "US-WV",
      "value": mypie['Heat']['WV']
    }, {
      "id": "US-WY",
      "value": mypie['Heat']['WY']
    } ],
  },


  "valueLegend": {
    "right": 50,
    "minValue": "No Connections",
    "maxValue": "Most Connections"
  },

  "export": {
    "enabled": true
  },
  "listeners": [{ // specify pie chart movement handler and creator
    "event": "positionChanged",
    "method": updateCustomMarkers
  }]
  });
}

function redrawmappie(mypie,whatpie){ //draw map with pie charts of specified values
  map = AmCharts.makeChart( "chartdiv", {
  "type": "map",
  "theme": "dark",
  "colorSteps": 50,

  "dataProvider": {
    "map": "usa2Low",
    "areasSettings": {
    "autoZoom": true
  },
  "areas": [ {
      "id": "US-AK",
      "value": mypie['Heat']['AK']
    }, {
      "id": "US-AL",
      "value": mypie['Heat']['AL']
    }, {
      "id": "US-AR",
      "value": mypie['Heat']['AR']
    }, {
      "id": "US-AZ",
      "value": mypie['Heat']['AZ']
    }, {
      "id": "US-CA",
      "value": mypie['Heat']['CA']
    }, {
      "id": "US-CO",
      "value": mypie['Heat']['CO']
    }, {
      "id": "US-CT",
      "value": mypie['Heat']['CT']
    }, {
      "id": "US-DE",
      "value": mypie['Heat']['DE']
    }, {
      "id": "US-FL",
      "value": mypie['Heat']['FL']
    }, {
      "id": "US-GA",
      "value": mypie['Heat']['GA']
    }, {
      "id": "US-HI",
      "value": mypie['Heat']['HI']
    }, {
      "id": "US-IA",
      "value": mypie['Heat']['IA']
    }, {
      "id": "US-ID",
      "value": mypie['Heat']['ID']
    }, {
      "id": "US-IL",
      "value": mypie['Heat']['IL']
    }, {
      "id": "US-IN",
      "value": mypie['Heat']['IN']
    }, {
      "id": "US-KS",
      "value": mypie['Heat']['KS']
    }, {
      "id": "US-KY",
      "value": mypie['Heat']['KY']
    }, {
      "id": "US-LA",
      "value": mypie['Heat']['LA']
    }, {
      "id": "US-MA",
      "value": mypie['Heat']['MA']
    }, {
      "id": "US-MD",
      "value": mypie['Heat']['MD']
    }, {
      "id": "US-ME",
      "value": mypie['Heat']['ME']
    }, {
      "id": "US-MI",
      "value": mypie['Heat']['MI']
    }, {
      "id": "US-MN",
      "value": mypie['Heat']['MN']
    }, {
      "id": "US-MO",
      "value": mypie['Heat']['MO']
    }, {
      "id": "US-MS",
      "value": mypie['Heat']['MS']
    }, {
      "id": "US-MT",
      "value": mypie['Heat']['MT']
    }, {
      "id": "US-NC",
      "value": mypie['Heat']['NC']
    }, {
      "id": "US-ND",
      "value": mypie['Heat']['ND']
    }, {
      "id": "US-NE",
      "value": mypie['Heat']['NE']
    }, {
      "id": "US-NH",
      "value": mypie['Heat']['NH']
    }, {
      "id": "US-NJ",
      "value": mypie['Heat']['NJ']
    }, {
      "id": "US-NM",
      "value": mypie['Heat']['NM']
    }, {
      "id": "US-NV",
      "value": mypie['Heat']['NV']
    }, {
      "id": "US-NY",
      "value": mypie['Heat']['NY']
    }, {
      "id": "US-OH",
      "value": mypie['Heat']['OH']
    }, {
      "id": "US-OK",
      "value": mypie['Heat']['OK']
    }, {
      "id": "US-OR",
      "value": mypie['Heat']['OR']
    }, {
      "id": "US-PA",
      "value": mypie['Heat']['PA']
    }, {
      "id": "US-RI",
      "value": mypie['Heat']['RI']
    }, {
      "id": "US-SC",
      "value": mypie['Heat']['SC']
    }, {
      "id": "US-SD",
      "value": mypie['Heat']['SD']
    }, {
      "id": "US-TN",
      "value": mypie['Heat']['TN']
    }, {
      "id": "US-TX",
      "value": mypie['Heat']['TX']
    }, {
      "id": "US-UT",
      "value": mypie['Heat']['UT']
    }, {
      "id": "US-VA",
      "value": mypie['Heat']['VA']
    }, {
      "id": "US-VT",
      "value": mypie['Heat']['VT']
    }, {
      "id": "US-WA",
      "value": mypie['Heat']['WA']
    }, {
      "id": "US-WI",
      "value": mypie['Heat']['WI']
    }, {
      "id": "US-WV",
      "value": mypie['Heat']['WV']
    }, {
      "id": "US-WY",
      "value": mypie['Heat']['WY']
    } ],
    "images":mypie[whatpie] //sets images to be the specifed value from logs
  },


  "valueLegend": {
    "right": 50,
    "minValue": "No Connections",
    "maxValue": "Most Connections"
  },

  "export": {
    "enabled": true
  },
  "listeners": [{
    "event": "positionChanged",
    "method": updateCustomMarkers
  }]
  });
  console.log(mypie[whatpie])
}
//updates pie charts
function updateCustomMarkers(event) {
  // get map object
  var notmap = event.chart;

  // go through all of the images
  for (var x = 0; x < notmap.dataProvider.images.length; x++) {

    // get MapImage object
    var image = notmap.dataProvider.images[x];

    // Is it a Pie?
    if (image.pie === undefined) {
      continue;
    }

    // create id
    if (image.id === undefined) {
      image.id = "amcharts_pie_" + x;
    }
    // Add theme
    if ("undefined" == typeof image.pie.theme) {
      image.pie.theme = notmap.theme;
    }

    // check if it has corresponding HTML element
    if ("undefined" == typeof image.externalElement) {
      image.externalElement = createCustomMarker(image);
    }

    // reposition the element accoridng to coordinates
    var xy = notmap.coordinatesToStageXY(image.longitude, image.latitude);
    image.externalElement.style.top = xy.y + "px";
    image.externalElement.style.left = xy.x + "px";
    image.externalElement.style.marginTop = Math.round(image.height / -2) + "px";
    image.externalElement.style.marginLeft = Math.round(image.width / -2) + "px";
  }
}

/**
 * Creates a custom map marker - a div for container and a
 * pie chart in it
 */
function createCustomMarker(image) {

  // Create chart container
  var holder = document.createElement("div");
  holder.id = image.id;
  holder.title = image.title;
  holder.style.position = "absolute";
  holder.style.width = image.width + "px";
  holder.style.height = image.height + "px";

  // Append the chart container to the map container
  image.chart.chartDiv.appendChild(holder);

  // Create a pie chart
  var chart = AmCharts.makeChart(image.id, image.pie);

  return holder;
}
  $(document).ready(function(){ //query server using ajax for logs on submit
    $('form').submit(function(event){
        event.preventDefault(); //prevent page from refreshing
        $.ajax({
        url: "/query", //query website
        method: 'post', //use post request format
        data:$(this).serialize(), //serialize input data to json
        success:function(response){
			if(response['Authvno'].length == 0){ // edge case if no logs were picked up
				alert('No logs found during these dates')
				document.getElementById("DATE").innerHTML = "Please enter a start and end date";
				drawpie(); //redraw default map
			}
			else{
            mylogs = response; //store log data
			drawmappie(response); //draw heat map based on data
            document.getElementById("DATE").innerHTML = "showing connections from " + start.value + " to " + end.value;
		}
        },
        error:function(error){
            //error alert
            alert('please enter valid dates');
        }


        })
    })
})

</script>
<h3>Enter dates in format yyyy-mm-dd</h3>
<form class="" action="/query" method="post">{% csrf_token %}
    <p>Start date <input type="text" name="startdate" id="start">
        End date <input type="text" name="enddate" id="end"></p>
    <p><input type="submit" name="" value="Get Logs" class="submit"></p>
</form>
<h3>Click one of these buttons once logs are loaded</h3>
<button id="authvno" type="button" class="button button1" onclick = "var mylogstemp = JSON.parse(JSON.stringify(mylogs));redrawmappie(mylogs,'Authvno');mylogs=mylogstemp">Auth Vs No Auth
</button>
<button id="noipauth" type="button" class="button button2" onclick = "var mylogstemp = JSON.parse(JSON.stringify(mylogs));redrawmappie(mylogs,'NOIPAuth');mylogs=mylogstemp">IPs not authorized
</button>
<button id="ipauth" type="button" class="button button3" onclick = "var mylogstemp = JSON.parse(JSON.stringify(mylogs));redrawmappie(mylogs,'IPAuth');mylogs=mylogstemp">IPs authorized
</button>
</body>
</html>
