<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <!--
      Zoom/pan map example: integrates d3.geo and d3.behavior
      Iain Dillingham, http://dillingham.me.uk/
      With help from Jason Davies, http://www.jasondavies.com/
    -->
    <title>Wheres The SSH</title>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <style type="text/css">


    #axes {
      stroke: #BDBDBD;
      stroke-width: 0.5;
    }

    </style>
</head>
<body>
<p id="DATE"></p>
<div id="vis"></div>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<script type="text/javascript">


    document.getElementById("DATE").innerHTML = "No logs loaded, pick dates then click enter to use tool"

    var logs = 0;
    var w = 960;
    var h = 500;
    var proj = d3.geo.albersUsa()
    var path = d3.geo.path().projection(proj);
    var t = proj.translate(); // the projection's default translation
    var s = proj.scale() // the projection's default scale

    var map = d3.select("body").append("svg")
        .attr("width", w)
        .attr("height", h)
        .call(d3.behavior.zoom().on("zoom", redraw));

    var axes = map.append("g").attr("id", "axes");

    var xAxis = axes.append("line")
        .attr("x1", t[0])
        .attr("y1", 0)
        .attr("x2", t[0])
        .attr("y2", h);

    var yAxis = axes.append("line")
        .attr("x1", 0)
        .attr("y1", t[1])
        .attr("x2", w)
        .attr("y2", t[1]);

    var us = map.append("g")
	     .attr("id", "us")

    d3.json("/static/us-states.json", function (json) {
      us.selectAll("path")
          .data(json.features)
        .enter().append("path")
          .attr("d", path)
	.style("stroke", "#fff")
        .style("stroke-width", "1")
        .style("fill","rgb(213,222,217)");

    });



    function redraw() {
      // d3.event.translate (an array) stores the current translation from the parent SVG element
      // t (an array) stores the projection's default translation
      // we add the x and y vales in each array to determine the projection's new translation
      var tx = t[0] * d3.event.scale + d3.event.translate[0];
      var ty = t[1] * d3.event.scale + d3.event.translate[1];
      proj.translate([tx, ty]);

      // now we determine the projection's new scale, but there's a problem:
      // the map doesn't 'zoom onto the mouse point'
      proj.scale(s * d3.event.scale);

      // redraw the map
      us.selectAll("path").attr("d", path);

      // redraw the x axis
      xAxis.attr("x1", tx).attr("x2", tx);

      // redraw the y axis
      yAxis.attr("y1", ty).attr("y2", ty);
    }
     $(document).ready(function(){
    $('form').submit(function(event){
        event.preventDefault();
        $.ajax({
        url: "/query",
        method: 'post',
        data:$(this).serialize(),
        success:function(response){
            for (var key in response)
                us.selectAll("circle")
                    .data(response[key]).enter()
                    .append("circle")
                    .attr("cx", function(d) {
                        return projection([d.lon, d.lat])[0];
                     })
                    .attr("cy", function(d) {
                        return projection([d.lon, d.lat])[1];
                    })
                    .attr("r", "20px")
                    .style("fill", "rgb(217,91,67)")
                    .style("opacity", 0.85)

        }



        })
    })
})

</script>
<form class="" action="/query" method="post">{% csrf_token %}
    <p>Start date(yyyy-mm-dd)<input type="text" name="startdate">
        End date(yyyy-mm-dd)<input type="text" name="enddate"></p>
    <p><input type="submit" name="" value="Get Logs"></p>
</form>
<h3>Enter dates in format yyyy-mm-dd</h3>


</body>
</html>
